<div class="header-height"></div>
<div class="ge-padding">
  <h2>Demo</h2>
  <div class="demo-grid">

    <button mat-flat-button (click)="openCustomThemePicker()">
      Custom Theme
    </button>

    <mat-checkbox class="example-margin" [(ngModel)]="freezeUi">no updates</mat-checkbox>
  </div>
</div>

<div class="ge-padding height-50-vh">
  <timetable-demo
    [freezeUi]="freezeUi"
    [forcedColorPickerHash]="'welcome'"
    class="height-50-vh timetable ge-table-default"></timetable-demo>
</div>


<div class="ge-padding">
  <div class="header-height"></div>
  <p>
    In this demo,
    you can observe the rowspan/colspan feature in all three areas (header, body, footer),
    the column resize feature, and a cell renderer.
    Here, you can find additional
    <button
      [routerLink]="['/demos']"
      color="primary"
      mat-flat-button>demos
    </button>
  </p>
</div>
