

.demo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}


.height-50-vh {
  height: 50vh;
}

.mat-primary.mat-mdc-button-base {
  background: var(--ge-table-doc-primary-color);
  color: var(--ge-table-doc-dark-color);
  margin-right: 16px;
}

