:host {
  > div {
    min-height: 100vh;
  }
  color:#fff;
}




.sub-title {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 40px;
}


.center {
  text-align: center;
}

.get-started-div {
  display: grid;
  justify-items: center;
}

.getstarted-grid {
  width: clamp(100px, 400px, 100%);
  display: grid;
  place-items: center;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100px), 1fr));

  > div {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
  }

  .logo-outer {
    text-align: center;

    .logo {
      width: 80px;
      display: inline-block;
    }
  }
}


.gap {
  height: 40px;
}

.logo-demo-white,
.logo-demo-black,
.logo-demo-blue,
.logo-demo-red,
.logo-demo-green,
.logo-demo-yellow {
  display: inline-flex;
  padding: 40px;
}

.height-50-vh {
  height: 50vh;
}

.mdc-button.mat-mdc-button.mat-unthemed.mat-mdc-button-base {
  color: #fff;
}

.get-started-div .logo:hover {
  animation: size-animation 1s ease 1;
}
@keyframes size-animation {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.2)
  }
}
