<div class="ge-header ge-padding">

  <h1>
    <div class="logo">
      <guiexpert-logo [mode]="'monocolor-black'" [size]="50"></guiexpert-logo>
    </div>
  </h1>
  <h1>
    <div class="title">
      GuiExpert Table
    </div>
  </h1>

  <div class="auto-grid get-started-div">
    <div>
      <div class="logo-outer">
        <div class="logo">
          <app-js-logo />
        </div>
      </div>
      <div class="center">Plain JS</div>
    </div>
  </div>
  <br>
  <br>
</div>

<div class="ge-padding">

  <br>
  <br>
  <br>

  <p>
    Add the following NPM package to your existing angular project
    (run this in your project root directory):
  </p>
  <pre>
{{text1}}</pre>

  <p>Add an empty div element to your html code:</p>
  <pre>
{{text2}}</pre>

  <p>Import the following classes:</p>
  <pre>
{{text3}}</pre>

  <p>Create a <i>tableModel</i>. Select the div element and create a table scope.
    At least call firstInit():</p>
  <pre>
{{text4}}</pre>

  <p>
    There are a lot of posibillities to create table models.
    See <a href="/doc">Docs</a> for further information or <a href="/demo">Demo</a> section for examples.
  </p>


  <button [routerLink]="['/getstarted']" mat-stroked-button>
    <mat-icon>arrow_back_ios_new</mat-icon>
  </button>
</div>
