.hero-box {
  height: calc(100vh - var(--ge-header-height));
  background-image: url("/assets/img/bg-quantum-gradient-01.svg");
  background-size: cover;
  color: #fff;

  display: grid;
  place-items: center;
  align-items: start;

  .ge-typewriter-div {
    margin-top: 330px;
    padding: 0 40px;
    font-size: 60px;
    line-height: 70px;
  }

  .getstarted-button {
    background-color: var(--ge-primary);
    color: var(--ge-text-on-primary, #fff);
    font-size: 24px;
    height: 60px;
  }
}

