.hero-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: calc(100vh - var(--ge-header-height));
  text-align: center;

  background-image: url("/assets/img/bg-quantum-gradient-01.svg");
  background-size: cover;
  color: #fff;
  padding-top: 66px;

  .hero-big {
    max-width: 560px;
    font-size: 66px;
    line-height: 66px;
    margin-bottom: 44px;
    font-weight: bold;
    opacity: 1;
    color: #fff;
    text-align: center;
    text-wrap: balance;

    .ge-typewriter-div {
      min-height: 90px;
      font-weight: 300;
    }

  }

  .hero-medium {
    margin-top: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  > .left {
    flex: 0 1 150px;
    margin: 5px;
  }

  > .right {
    display: flex;
    flex: 0 1 150px;
    margin: 5px;
    justify-content: flex-end;
    justify-items: flex-end;
  }

  .hero-img {
    margin-left: 30px;
    width: 500px;
    height: 450px;
  }
}


.animated-shadow {
  text-shadow: 0 0 50px var(--ge-animated-shadow-color),
  0 0 50px var(--ge-animated-shadow-color),
  0 0 100px var(--ge-animated-shadow-color),
  0 0 150px var(--ge-animated-shadow-color),
  0 0 200px var(--ge-animated-shadow-color),
  0 0 250px var(--ge-animated-shadow-color);
  animation: hue-animate 5s linear infinite;
  animation-play-state: paused;
}

.hero-big:hover .animated-shadow {
  animation-play-state: running;
}

@keyframes hue-animate {
  0% {
    filter: hue-rotate(0deg)
  }
  100% {
    filter: hue-rotate(360deg)
  }
}


@keyframes size-animation {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.2)
  }
}

