<section class="ge-padding padding-top radial-circle dark">

  <br>
  <br>
  <h3>Commercial Licenses:</h3>


  <div class="center-all">
    <div class="flex-container">

      <mat-card class="single-app-card light glow-effect" style="height: 552px">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>gavel</mat-icon>
          </div>
          <mat-card-title>Single Application</mat-card-title>
          <mat-card-subtitle>Deployment License</mat-card-subtitle>
        </mat-card-header>
        <div class="center-all logo-div">
          <guiexpert-logo [mode]="'monocolor-black'" [size]="250"></guiexpert-logo>
        </div>
        <mat-card-content>
          <div class="two-columns price-info-div">
            <div>
              <div class="price">499 €</div>
            </div>
            <div>
              <p>Perpetual license</p>
              <p>1 year of updates</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="action-row">
            <div>Coming soon.<br>It will be free in 2023.</div>
            <button color="primary" disabled mat-flat-button>
              <del>BUY NOW</del>
            </button>
          </div>
        </mat-card-actions>

        <svg class="glow-container">
          <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
          <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
        </svg>
      </mat-card>


      <mat-card class="triple-app-card light glow-effect" style="height: 552px">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>gavel</mat-icon>
          </div>
          <mat-card-title>Triple Application</mat-card-title>
          <mat-card-subtitle>Deployment License</mat-card-subtitle>
        </mat-card-header>
        <div class="center-all logo-div">
          <guiexpert-logo [mode]="'monocolor-black'" [size]="250"></guiexpert-logo>
        </div>
        <mat-card-content>
          <div class="two-columns price-info-div">
            <div>
              <div class="price">1199 €</div>
            </div>
            <div>
              <p>Perpetual license</p>
              <p>1 year of updates</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="action-row">
            <div>Coming soon.<br>It will be free in 2023.</div>
            <button color="primary" disabled mat-flat-button>
              <del>BUY NOW</del>
            </button>
          </div>
        </mat-card-actions>

        <svg class="glow-container">
          <rect pathLength="100" stroke-linecap="round" class="glow-blur"></rect>
          <rect pathLength="100" stroke-linecap="round" class="glow-line"></rect>
        </svg>
      </mat-card>

    </div>
  </div>
</section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>

<section class="ge-padding padding-top dark">
  <h2>Single Application</h2>
  <p>
    One 'Single Application' Deployment License covers one production environment for a single project (application).
  </p>
  <p>
    You do not need an additional Deployment License for environments such as testing, user acceptance testing (UAT),
    pre-production, production failover, and others.
  </p>
  <p>
    You do not need an additional Deployment License for multiple server instances.
  </p>
  <p>
    Deploying an application to a cloud service only requires one Deployment License.
  </p>

  <br>
  <br>
  <h2>Triple Application</h2>
  <p>
    One 'Triple Application' Deployment License covers 3 production environments for 3 projects (applications).
  </p>

  <!--br>
  <br>
  <h2>Multiple Application</h2>
  <p>
    One 'Multiple Application' Deployment License covers all production environments for all projects (applications) within your company.
  </p-->

  <br>
  <br>
  <h2>Remark</h2>
  <p>
    Individuals and non-commercial users can freely use and modify this software library under the terms of the open
    source license. See <a href="#" routerLink="/license">License</a>.
  </p>
</section>

