
h2 {
  font-size: 22px;
  margin: 0 0 20px 0;
}

.price {
  font-size: 40px;
  line-height: 40px;
}

.min-height-content {
  min-height: 100vh;
}

.single-app-card {
  max-width: 400px;
}

.center-all {
  display: grid;
  place-items: center;
}
.two-equal-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.two-columns {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}
.price-info-div,
.logo-div{
  padding: 26px 0;
}
.action-row {
  width: 100%;
  display: grid;
  grid-template-columns:  1fr minmax(80px, 25%);
}
mat-card-header {
  mat-icon {
    font-size: 40px;
    height: 49px;
    width: 49px;
  }
}

.mat-primary.mat-mdc-button-base {
  background: var(--ge-table-doc-primary-color);
  color: var(--ge-table-doc-dark-color);
  margin-right: 16px;
}
a {
  color: #008a02;
}
