<div class="ge-header">
  <h1>
    <div class="logo">
      <guiexpert-logo [mode]="'monocolor-black'" [size]="50"></guiexpert-logo>
    </div>
  </h1>
  <h1>
    <div class="title">
      GuiExpert Table - Pricing
    </div>
  </h1>

  <p>
    Individuals and non-commercial users can freely use and modify this software library under the terms of the open
    source license. See <a href="/license">License</a>.
  </p>

</div>

<div class="ge-padding min-height-content">

  <h2>Commercial License:</h2>


  <div class="center-all">

    <mat-card class="single-app-card">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>gavel</mat-icon>
        </div>
        <mat-card-title>Single Application</mat-card-title>
        <mat-card-subtitle>Deployment License</mat-card-subtitle>
      </mat-card-header>

      <div class="center-all logo-div">
        <guiexpert-logo [mode]="'monocolor-black'" [size]="250"></guiexpert-logo>
      </div>
      <mat-card-content>
        <div class="two-columns price-info-div">
          <div>
            <div class="price">499 €</div>
          </div>
          <div>
            <p>Perpetual license</p>
            <p>1 year of updates</p>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="action-row">
          <div>Coming soon.<br>It's free in 2023.</div>
          <button color="primary" disabled mat-flat-button>
            <del>BUY NOW</del>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <!--

    Allows licensed developers to sub-license AG Grid for one application on one production environment in perpetuity. Includes a 1-year subscription to new versions, support and maintenance. Only available with a Developer License.

  A Deployment License Add-on allows making a project available to individuals (eg your customers) outside of your organisation (sub-license).
  One Deployment License Add-on covers one production environment for one project.
  Only production environments require licensing. All other environments (eg development, test, pre-production) do not require a license.
  We do not charge per server. A cluster of many servers part of one application installation is considered one deployment and requires one Deployment License. This is true so long as the application instances within the cluster are replicas of each other and server provides load balancing and fail over only.
  Production failover deployments do not need to be licensed separately. They are considered part of the overall application production deployment.
  Multi-tenant deployments, where one application instance is serving many customers over different URLs, is considered one deployment, as each tenant is getting serviced by the same application instance.
  Different instances of the same application, where the instances are not part of a cluster for fail over or load balancing, are considered independent deployments and need a Deployment License for each individual application instance.
  Deploying an application to a cloud service (eg AWS or Docker) requires one Deployment License, regardless of how many virtual containers or servers the cloud application spawns for that one single instance of the application.

    -->

  </div>
</div>

