
h1 {
  display: flex;
  column-gap: 40px;
  align-items: center;
  justify-content: center;


  > div {
    display: inline-block;
  }

  .title {
    margin-bottom: 80px;
  }

  .logo {
    display: inline-block;
    width: 40px;

    .logo-fill-color-2 {
      fill: rgba(0, 0, 0, 0.5)
    }
  }

  .title {
    font-size: 44px;
  }
}

.sub-title {
  margin-top: 120px;
  text-align: center;
  margin-bottom: 40px;
}


.center {
  text-align: center;
}


.clear-both {
  clear: both;
}

.auto-grid {
  display: grid;
  gap: 1rem;
  justify-content: center end;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));

  > div {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
  }

  .logo-outer {
    text-align: center;

    .logo {
      width: 80px;
      display: inline-block;
    }
  }
}


.gap {
  height: 40px;
}

.mat-primary.mat-mdc-button-base {
  background: var(--ge-table-doc-primary-color);
  color: var(--ge-table-doc-dark-color);
  margin-right: 16px;
}
a {
  color: #008a02;
}

