<section class="ge-header ge-padding">
  <h2 class="fade-in">Demos</h2>
  <div class="hero">
    <div>
      On this page, you will find a lot of demos of our fantastic table component. <br>
      If you are missing something, please send us a <a href="mailto:info@gui.expert">message</a>.
    </div>
  </div>
</section>


<section class="demos-content">

  <div class="box">
    <div class="text-div">
      <h2>Simple Table: Array of Arrays Demo</h2>
      <p>
        An array of arrays data structure can be easily converted in a
        <a [routerLink]="['/api/tsdoc','classes','TableModel.html']" href="#">TableModel</a>
        with help of TableModelFactory
        <a
          href="/assets/docs/classes/TableModelFactory.html#createByArrayOfArray"
          target="blank">.createByArrayOfArraysParams()</a>.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/simple/run']">
        Open Simple Table Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>Object Array Demo</h2>
      <p>
        The most common use case is an array of business objects.
        This array can be easily converted to a table model.
        An array of <a
        [routerLink]="['/api/tsdoc/interfaces/ColumnDefIf.html']"
        href="#">ColumnDefIf</a>s is used to define which object property is displayed in which table column.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/prizes/run']">
        Open Object Array Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>Self-written Table Model Demo</h2>
      <p>
        A table model does not necessarily need a data structure/object. You can write table models yourself,
        as a developer you have full control over what is to be rendered in which cell. Here are a few examples:
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/simple/run']">
        Open Table Model Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>Events Demo</h2>
      <p>
        The table can send many different events.
        In the following example, we demonstrate listening for mouse events.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/mouseevent/run']">
        Open Mouse Events Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>TODO Switching Look and Feel Demo</h2>
      <p>
        There are many ways to change the style of the table.
        Here we show how to change the global style using CSS
        variables.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/simple/run']">
        Open Look & Feel Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>Style of table cells (cell renderer) Demo</h2>
      <p>
        The style of a table cell can be changed by setting a cell renderer,
        by setting a cell class, and by setting a style.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/styledemo/simple/run']">
        Open Custom Renderer Demo
      </a>
      <br>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/styledemo/heatmap/run']">
        Open Heatmap 1 Demo
      </a>
      <br>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/styledemo/heatmapseattle/run']">
        Open Heatmap 2 Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>


  <div class="box">
    <div class="text-div">
      <h2>Rowspan and Colspan Demo</h2>
      <p>
        Row and colspan can be defined in the table body as well as in the header and footer.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/rowandcolspan/run']">
        Open Row/Colspan Demo
      </a>
      <br>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/timetable/run']">
        Open Time Table Demo
      </a>
      <br>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/prizes/run']">
        Open Nobel Prizes Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>


  <div class="box">
    <div class="text-div">
      <h2>Tree Table by Tree Model Demo</h2>
      <p>
        There are many ways to represent data hierarchically. We show here how to build tree tables.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/treepeople/run']">
        Open Tree Table (People) Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>


  <div class="box">
    <div class="text-div">
      <h2>TODO Tree Table by Helper Function Demo</h2>
      <p>
        Flat data can be grouped using helper functions and displayed as a tree table.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/tree2/run']">
        Open Tree Table Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>Using the Table API Demo</h2>
      <p>
        After the first rendering of a table, a
        <a [routerLink]="['/api/tsdoc','classes','TableApi.html']" href="#">TableApi</a>
        service is emitted.
        With this service, you can do a lot of things: change cell values,
        change table column widths, scroll to a specific row, trigger a repaint, etc.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/idfilter/run']">
        Open Filtering (Slider) Demo
      </a>
      <br>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/olympic/run']">
        Open Filtering (Input) Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>Edit Table Data Demo</h2>
      <p>
        Data can not only be displayed but also edited by the user.
        We show you how to do it here:
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/treepeople/run']">
        Open Editing Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>High-Performance Updating of Table Cells</h2>
      <p>
        Financial dashboard applications often display rapidly changing data.
        We show here how to do this with an incredible performance.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/crypto/run']">
        Open Crypto Table Demo
      </a>
      <br>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/timetable/run']">
        Open Time Table Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

  <div class="box">
    <div class="text-div">
      <h2>Sorting Demo</h2>
      <p>
        Sorting rows by header double click. Sorting columns by drag and drop.
      </p>
      <a
        href="#"
        class="run-link"
        [routerLink]="['/demo/headerdblclick/run']">
        Open Sorting Demo
      </a>
    </div>
    <div class="img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>

</section>

