:host {
  margin: 0;
  overflow-y: scroll;
  overflow-x: clip;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 50vh;
  scroll-snap-align: start;
}

.hero {
  height: calc(50vh - 60px);
  display: grid;
  place-items: center;
  font-size: 18px;
}


.demos-content {
  /* first breakpoint*/
  --w1: 1200px;
  --n: 3;
  /* second breakpoint*/
  --w2: 800px;
  --m: 2;
  /* third breakpoint*/
  --w3: 400px;
  --p: 1;

  display: grid;
  //noinspection CssInvalidFunction
  grid-template-columns:
    repeat(auto-fill,
      minmax(
          clamp(
            clamp(
              clamp(
                100% / (var(--n) + 1) + 0.1%,
                (var(--w1) - 100vw) * 1000,
                100% / (var(--m) + 1) + 0.1%
              ),
              (var(--w2) - 100vw) * 1000,
              100% / (var(--p) + 1) + 0.1%
            ),
            (var(--w3) - 100vw) * 1000,
            100%
          ),
          1fr
      )
    );
  gap: 0;

  > div {
    scroll-snap-align: start;
    min-height: 50vh;
    padding-left: 16px;

    h2 {
      margin-top: 16px;
    }

    ul {
      padding-left: 12px;
    }
  }

  > :nth-child(4n+1) {
    background-color: lighten(#f9ed06, 20%);
  }

  > :nth-child(4n+2) {
    background-color: lighten(#f9ed06, 30%);
  }

  > :nth-child(4n+3) {
    background-color: lighten(#f9ed06, 40%);
  }

  > :nth-child(4n) {
    background-color: #fff;
  }

  .img-div {
    padding-top: 16px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}

.run-link {
  margin-top: 12px;
  margin-bottom: 12px;
}
