<div class="ge-header">
  <h1>
    <div class="logo">
      <guiexpert-logo [mode]="'monocolor-black'" [size]="50"></guiexpert-logo>
    </div>
  </h1>
  <h1>
    <div class="title">
      GuiExpert Table - License
    </div>
  </h1>
</div>

<div class="ge-padding min-height-content">
  <br>
  <br>

  <h1>Dual Licensing</h1>

  <h2>In short:</h2>

  <ul>
    <li>
      <p>
        <strong>Individual License (Open Source, MIT License):</strong>
      </p>
      <p>
        Individuals and non-commercial users can freely use and modify this software library under the terms of the open
        source license.
      </p>
    </li>
    <li>
      <p>
        <strong>Commercial License:</strong>
      </p>
      <p>
        This license is intended for businesses, organizations, and commercial use cases.
      </p>
      <p>
        Businesses would need to obtain a separate commercial license to use the software library in their proprietary
        applications.
      </p>
      <p>
        For organizations that wish to use this software library for commercial purposes, we offer a separate commercial
        license.
      </p>
      <p>
        The commercial license provides additional features, services, and support not available under the open source
        license.
      </p>
    </li>
  </ul>



  <h2>Open Source License:</h2>

  <h3>MIT License</h3>

  <p>Copyright (c) Dr. Marc Kronberg (gui.expert)</p>

  <p>
    Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
    documentation files (the "Software"), to deal in the Software without restriction, including without limitation the
    rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
    permit persons to whom the Software is furnished to do so, subject to the following conditions:
  </p>


  <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of
    the Software.
  </p>
  <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
    THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
    TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
  </p>


  <h2>Commercial License:</h2>
  <p>
    For organizations that wish to use this software library for commercial purposes, we offer a separate commercial
    license. The commercial license provides additional features, services, and support not available under the open
    source license.
  </p>
  <p>
    Please contact us at license@gui.expert for more information on the commercial license and pricing.
  </p>

  <h2>Agreement</h2>
  <p>
    By using this software library, you agree to the terms and conditions of the open source license for individual
    users, and any separate agreement for the commercial license for businesses.
  </p>

</div>

