<section class="ge-header ge-padding center-all">
  <div class="hero-box">

    <div class="left">
      <div class="hero-big">
        Improve your data&nbsp;display&nbsp;with guiexpert/table
      </div>
      <div class="hero-medium">
        Handle large datasets easily.
      </div>
      <div class="hero-medium">
        Fully-featured <!--(advanced sorting and filtering) -->and highly customizable data grid.
      </div>
      <div class="hero-medium">
        Outstanding performance & no third-party dependencies
      </div>
    </div>

    <div class="right">
      <img alt="." src="assets/img/hero01.png" class="hero-img">
    </div>

  </div>
</section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section>
  <div class="features-2">

    <div class="box">
      <div class="text-div">
        <h2>Features</h2>
        <ul>
          <li>Excellent performance for <strong>large</strong> tables by vertical
            and horizontal <strong>virtual scrolling</strong>
          </li>
          <li>Column Interactions (resize, reorder)</li>
          <li>Sorting Rows</li>
          <li>Row, Column, and Range Selection</li>
          <li>Single and Multi Selection</li>
        </ul>
      </div>
    </div>
    <div class="box img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Interaction</h2>
        <ul>
          <li>Tree table (Hierarchical View)</li>
          <!--        <li>Grouped Columns (Hierarchical Header)</li>-->
          <li>Accessibility support: Keyboard Shortcuts</li>
          <li>Custom Filtering</li>
          <li>In-place Cell Editing</li>
          <li>Userdefined Key and Mouse Events</li>
        </ul>
      </div>
    </div>
    <div class="box img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Layout, Look & Feel</h2>
        <ul>
          <li>Customizable Cell Contents via Renderer</li>
          <li>Customizable Look & Feel (via CSS variables)</li>
          <li>Row sorting)</li>
          <li>Column Reordering (Drag and Drop)</li>
          <li>State Persistence (Row Sorting, Column Order, Selection)</li>
          <!--        <li><s>Keyboard Navigation</s></li>-->
        </ul>
      </div>
    </div>
    <div class="box img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>

    <div class="box">
      <div class="text-div">
        <h2>Usability</h2>
        <ul>
          <li><s>Copy / Paste</s></li>
          <li>Row and Column Spanning</li>
          <li>Fixed Columns (Left and Right)</li>
        </ul>
      </div>
    </div>
    <div class="box img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>

    <div class="box">
      <div class="text-div">
        <h2>License</h2>
        <ul>
          <li>Open source</li>
          <li>Free for individuals and non-commercial users</li>
          <li>For our valued business customers, we offer highly attractive licensing terms.</li>
        </ul>
      </div>
    </div>
    <div class="box img-div">
      <img alt="." src="assets/img/hero01.png">
    </div>
  </div>
</section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section class="ge-table-header-bg">
  <div class="ge-padding">
    <h2>Demo</h2>
    <div class="demo-grid">
      <mat-checkbox class="example-margin" [(ngModel)]="freezeUi">no updates</mat-checkbox>
    </div>
  </div>

  <div class="height-50-vh">
    <timetable-demo [freezeUi]="freezeUi" class="height-50-vh timetable"></timetable-demo>
  </div>

  <div class="ge-table-header-bg">
    <div class="ge-padding">
      <p>
        In this demo,
        you can observe the rowspan/colspan feature in all three areas (header, body, footer),
        the column resize feature, and a cell renderer.
        Here, you can find additional
        <button
          [routerLink]="['/demo']"
          color="primary"
          mat-flat-button>demos</button>.
      </p>
    </div>
  </div>
</section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section>
  <div class="ge-padding">
    <h2>Get Started - Choose your framework:</h2>
    <div class="gap"></div>

    <div class="getstarted-grid get-started-div">
      <div>
        <div class="logo-outer">
          <div class="logo">
            <a [routerLink]="['/getstarted','angular']" href="#">
              <app-angular-logo />
            </a>
          </div>
        </div>
        <button [routerLink]="['/getstarted','angular']" mat-button>Angular</button>
      </div>

      <div>
        <div class="logo-outer">
          <div class="logo">
            <a [routerLink]="['/getstarted','vue']" href="#">
              <app-vue-logo />
            </a>
          </div>
        </div>
        <button [routerLink]="['/getstarted','vue']" mat-button>Vue</button>
      </div>

      <div>
        <div class="logo-outer">
          <div class="logo">
            <a [routerLink]="['/getstarted','react']" href="#">
              <app-react-logo />
            </a>
          </div>
        </div>
        <button [routerLink]="['/getstarted','react']" mat-button>React</button>
      </div>

      <div>
        <div class="logo-outer">
          <div class="logo">
            <a [routerLink]="['/getstarted','preact']" href="#">
              <app-preact-logo />
            </a>
          </div>
        </div>
        <button [routerLink]="['/getstarted','preact']" mat-button>Preact</button>
      </div>

      <div>
        <div class="logo-outer">
          <div class="logo">
            <a [routerLink]="['/getstarted','svelte']" href="#">
              <app-svelte-logo />
            </a>
          </div>
        </div>
        <button [routerLink]="['/getstarted','svelte']" mat-button>Svelte</button>
      </div>

      <div>
        <div class="logo-outer">
          <div class="logo">
            <a [routerLink]="['/getstarted','solid']" href="#">
              <app-solid-logo />
            </a>
          </div>
        </div>
        <button [routerLink]="['/getstarted','solid']" mat-button>Solid</button>
      </div>

      <div>
        <div class="logo-outer">
          <div class="logo">
            <a [routerLink]="['/getstarted','webcomponent']" href="#">
              <app-web-component-logo />
            </a>
          </div>
        </div>
        <button [routerLink]="['/getstarted','webcomponent']" mat-button>Web Component</button>
      </div>

      <div>
        <div class="logo-outer">
          <div class="logo">
            <a [routerLink]="['/getstarted','plainjs']" href="#">
              <app-js-logo />
            </a>
          </div>
        </div>
        <button [routerLink]="['/getstarted','plainjs']" mat-button>Plain JS</button>
      </div>
    </div>
  </div>
</section>
