
:host {
  margin: 0;
  overflow-y: scroll;
  overflow-x: clip;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

section {
  min-height: 100vh;
  scroll-snap-align: start;
}




// -------------------------------------

.features-2 {
  /* first breakpoint*/
  --w1:1200px;
  --n:4;
  /* second breakpoint*/
  --w2:800px;
  --m:2;
  /* third breakpoint*/
  --w3:400px;
  --p:1;

  display:grid;
  //noinspection CssInvalidFunction
  grid-template-columns:
    repeat(auto-fill,
      minmax(
          clamp(
            clamp(
              clamp(
                100%/(var(--n) + 1) + 0.1%,
                (var(--w1) - 100vw)*1000,
                100%/(var(--m) + 1) + 0.1%
              ),
              (var(--w2) - 100vw)*1000,
              100%/(var(--p) + 1) + 0.1%
            ),
            (var(--w3) - 100vw)*1000,
            100%
          ),
        1fr
      )
    );
  gap:10px;

  > div {
    min-height:300px;
    padding-left: 16px;
    h2{
      margin-top: 16px;
    }
    ul {
      padding-left: 12px;
    }
  }
  .img-div{
    padding-top: 16px;
    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
    }
  }
}
@media (max-width: 800px) {
  // < 800
  .features-2 .box.img-div,
  .features-2 .box.img-div img {
    display: none;
  }
}
// -------------------------------------





.hero-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .hero-big {
    font-size: 64px;
    line-height: 66px;
    margin-bottom: 66px;
  }

  .hero-medium {
    margin-top: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  > .left {
    //flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px;
  }

  > .right {
    display: flex;
    //flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    margin: 5px;
    justify-content: flex-end;
    justify-items: flex-end;
  }
  .hero-img {
    width: 450px;
    height: 450px;
  }
}


.logos-div {
  padding: 40px 0;
  display: flex;
  justify-content: center;

  > div {
    width: 80px;
    margin-right: 20px;
  }


  .solid-svg {
    path {
      opacity: 0.8;
    }
  }
}


.clear-both {
  clear: both;
}


.demo-grid {
  display: grid;
  grid-template-columns: 1fr 163px;
}

.getstarted-grid {
  display: grid;
  gap: 1rem;
  justify-content: center end;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));

  > div {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
  }

  .logo-outer {
    text-align: center;

    .logo {
      width: 80px;
      display: inline-block;
    }
  }
}

h2 {
  font-size: 22px;
  margin: 40px 0 20px 0;
}

.gap {
  height: 40px;
}

.logo-demo-white,
.logo-demo-black,
.logo-demo-blue,
.logo-demo-red,
.logo-demo-green,
.logo-demo-yellow {
  display: inline-flex;
  padding: 40px;
}

.height-50-vh {
  height: 50vh;
}

.max-width-1100-px {
  max-width: 1100px;
}

.min-height-60vh {
  min-height: 60vh;
}

.mat-primary.mat-mdc-button-base {
  background: var(--ge-table-doc-primary-color);
  color: var(--ge-table-doc-dark-color);
  margin-right: 16px;
}

.center-all {
  display: grid;
  place-items: center;
}


.hero-scroll-down {
  position: relative;
  left: 50%;
  top: -80px;
  overflow: visible;
  width: 0;
  height: 0;

  .mat-icon {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

@media (max-height: 660px) {
  .hero-scroll-down {
    display: none;
  }
}

.shake-vertical {
  -webkit-animation: shake-vertical 2.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake-vertical 2.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

section > div > h2 {
  margin-top: 0;
}
