
:host {
  margin: 0;
  overflow-y: scroll;
  overflow-x: clip;
  height: 100vh;
  scroll-snap-type: y mandatory;
  background-color: rgba(49, 58, 114, 1.0);
}

//.hero-section {
//  isolation: isolate;
//  position: relative;
//  &:after {
//    content: '';
//    // background: url(/assets/img/wave.svg);
//    background: yellow;
//    z-index: -0.5;
//    position: absolute;
//    inset: 0;
//    //transform: skewY(-5deg);
//  }
//}



.hero-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .hero-big {
    font-size: 66px;
    line-height: 66px;
    margin-bottom: 44px;
    font-weight: bold;
    opacity: 0.95;
  }

  .hero-medium {
    margin-top: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  > .left {
    flex: 0 1 150px;
    margin: 5px;
  }

  > .right {
    display: flex;
    flex: 0 1 150px;
    margin: 5px;
    justify-content: flex-end;
    justify-items: flex-end;
  }

  .hero-img {
    margin-left: 30px;
    width: 500px;
    height: 450px;
  }
}


.feature-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  > .left {
    flex: 0 1 250px;
    margin: 5px;

    ul {
      padding-left: 12px;
    }
  }

  > .right {
    display: flex;
    flex: 0 1 400px;
    margin: 5px;
    padding-top: 16px;
    perspective: 600px;

    > img {
      transform: rotateY(var(--rotateY));
      opacity: var(--opacity);
      width: 400px;
      aspect-ratio: 1;
    }

  }
}


.clear-both {
  clear: both;
}


.demo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.getstarted-grid {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), 1fr));

  > div {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;

    .mat-mdc-button:not(:disabled),
    .mdc-button__label {
      color: #fff;
    }

  }

  .logo-outer {
    text-align: center;
    padding-left: 10px;

    .logo {
      width: 100px;
      height: 100px;
      background-color: currentColor;
      border-color: currentColor;
      border-radius: 50%;
      overflow: clip;
      display: grid;
      place-items: center;

      &:hover,
      &:focus-visible {
        transform: translateY(-0.75rem) scale(1.2);
        transition: transform 250ms;
        // animation: size-animation 1s ease 1;
      }

      > a,
      > a > *,
      > a > * > svg {
        display: block;
        width: 80px;
        height: 80px;
      }
    }
  }
}


h2 {
  font-size: 22px;
  margin: 40px 0 20px 0;
}

.gap {
  height: 40px;
}

.logo-demo-white,
.logo-demo-black,
.logo-demo-blue,
.logo-demo-red,
.logo-demo-green,
.logo-demo-yellow {
  display: inline-flex;
  padding: 40px;
}

.height-50-vh {
  height: 50vh;
}

.max-width-1100-px {
  max-width: 1100px;
}

.min-height-60vh {
  min-height: 60vh;
}

.mat-primary.mat-mdc-button-base {
  background: var(--ge-table-doc-primary-color);
  color: var(--ge-table-doc-dark-color);
  margin-right: 16px;
}

.center-all {
  display: grid;
  place-items: center;
}


section > div > h2 {
  margin-top: 0;
}

section.footer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto  auto auto;
}

section > * {
  opacity: 0;
  transition: ease-in-out 1s;
}

section.show > * {
  opacity: 1;
}


.animated-shadow {
  text-shadow: 0 0 50px #0f08,
  0 0 50px #0f08,
  0 0 100px #0f08,
  0 0 150px #0f08,
  0 0 200px #0f08,
  0 0 250px #0f08;
  animation: hue-animate 5s linear infinite;
  //animation-play-state: paused;
}

//.hero-big:hover .animated-shadow {
//  animation-play-state: running;
//}

@keyframes hue-animate {
  0% {
    filter: hue-rotate(0deg)
  }
  100% {
    filter: hue-rotate(360deg)
  }
}


@keyframes size-animation {
  0% {
    transform: scale(1)
  }
  100% {
    transform: scale(1.2)
  }
}


:host {
  --ge-table-bg: #121136;
  --ge-table-header-west-bg: #121136;
  --ge-table-header-center-bg: #121136;
  --ge-table-header-east-bg: #121136;
  --ge-table-header-west-text: #bed8f9;
  --ge-table-header-center-text: #bed8f9;
  --ge-table-header-east-text: #bed8f9;
  --ge-table-header-west-horizontal-border: #2c507d;
  --ge-table-header-west-vertical-border: #2c507d;
  --ge-table-header-center-horizontal-border: #2c507d;
  --ge-table-header-center-vertical-border: #2c507d;
  --ge-table-header-east-horizontal-border: #2c507d;
  --ge-table-header-east-vertical-border: #2c507d;
  --ge-table-body-west-bg: #121136;
  --ge-table-body-center-bg: #121136;
  --ge-table-body-east-bg: #121136;
  --ge-table-body-west-text: #bed8f9;
  --ge-table-body-center-text: #7b93b2;
  --ge-table-body-east-text: #bed8f9;
  --ge-table-body-west-horizontal-border: #2c507d;
  --ge-table-body-west-vertical-border: #2c507d;
  --ge-table-body-center-horizontal-border: #2c507d;
  --ge-table-body-center-vertical-border: #2c507d;
  --ge-table-body-east-horizontal-border: #2c507d;
  --ge-table-body-east-vertical-border: #2c507d;
  --ge-table-body-west-selected-range-bg: oklch(2% 0.26 237.6 / 55%);;
  --ge-table-body-center-selected-range-bg: oklch(2% 0.26 237.6 / 55%);;
  --ge-table-body-east-selected-range-bg: oklch(2% 0.26 237.6 / 55%);;
  --ge-table-body-west-selected-range-text: oklch(100% 0 0);;
  --ge-table-body-center-selected-range-text: oklch(100% 0 0);;
  --ge-table-body-east-selected-range-text: oklch(100% 0 0);;
  --ge-table-footer-west-bg: #121136;
  --ge-table-footer-center-bg: #121136;
  --ge-table-footer-east-bg: #121136;
  --ge-table-footer-west-text: #bed8f9;
  --ge-table-footer-center-text: #bed8f9;
  --ge-table-footer-east-text: #bed8f9;
  --ge-table-footer-west-horizontal-border: #2c507d;
  --ge-table-footer-west-vertical-border: #2c507d;
  --ge-table-footer-center-horizontal-border: #2c507d;
  --ge-table-footer-center-vertical-border: oklch(47% 0.2 248.4 / 12%);
  --ge-table-footer-east-horizontal-border: #2c507d;
  --ge-table-footer-east-vertical-border: #2c507d;
  --ge-table-border: #2c507d;
  --ge-table-row-odd-bg: oklch(100% 0 0 / 0%);;
  --ge-table-row-even-bg: oklch(100% 0 0 / 0%);;
  --ge-table-column-odd-bg: oklch(100% 0 0 / 0%);;
  --ge-table-column-even-bg: oklch(100% 0 0 / 0%);;
  --ge-table-hover-column-bg: #2c2e33;;
  --ge-table-hover-row-bg: #2c2e33;;
  --ge-table-focus-border: #2c507d;
  --ge-table-color-error-text: #bed8f9;
  --ge-table-tree-arrow-collapsed-color: #e00034;;
  --ge-table-column-resize-handle-border: #0098db;
  --ge-table-dragged-col-div-bg: #2c2e33;;
  --ge-table-drop-zone-bg: #121136;
}
