<section appSectionHero class="ge-padding padding-top center-all hero-section"></section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section appSectionFeatures class="ge-padding padding-top center-all"></section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section appSectionInteraction class="ge-padding padding-top center-all"></section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section appSectionUsebility class="ge-padding padding-top center-all"></section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section appSectionCellStyle class="ge-padding padding-top center-all"></section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>
<div style="clear: both"></div>


<section appWelcomeDemo class="ge-table-header-bg min-height-100vh padding-top"></section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section appGetStarted class="padding-top center-all"></section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section appSectionLicense class="ge-padding padding-top center-all"></section>
<div class="hero-scroll-down">
  <mat-icon (click)="scroll2Top()">expand_less</mat-icon>
</div>

