.side-nav-toggle-fab-btn {
  position: absolute;
  top: 20px;
  left: 20px;
}

.sidenav-container {
  height: 100%;

  .sidenav {
    width: 220px;

    .mat-toolbar {
      background: inherit;
    }

    guiexpert-logo {
      margin-top: 6px;
      margin-right: 16px;
    }

    mat-nav-list {
      .fixed-at-bottom-left {
        position: fixed;
        bottom: 20px;
        left: 20px;
      }

      a {
        mat-icon {
          display: inline-flex;
          margin-right: 16px;
        }
      }
    }
  }

  .mat-sidenav-content {
    overflow-x: clip;


   .mat-toolbar.mat-primary {
      position: sticky;
      top: 0;
      z-index: 1;
    }

    .doc-content {
      min-height: calc(100vh - 127px);
    }

    //.ge-footer {
    //  width: 100%;
    //  display: inline-flex;
    //  padding: 16px 0;
    //
    //  mat-icon {
    //    display: inline-flex;
    //    margin-right: 16px;
    //  }
    //}

    .ge-action-bar {
      width: 100%;
      display: inline-flex;
      padding: 8px 16px 16px 16px;

      .mat-primary.mat-mdc-button-base {
        background: var(--ge-table-doc-demo-color);
        color: var(--ge-table-doc-dark-color);
        margin-right: 16px;
      }
    }
  }

  .main-header-title-span.fade-in {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-moz-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-webkit-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-ms-keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
