:host {
  height: 100vh;

  > div {
    height: 100vh;
  }
}


div.header {
  height: 60px;
  display: grid;
  grid-template-columns: 60px 1fr 60px;

  .logo {
    padding-left: 16px;
    padding-top: 14px;
  }

  .title {
    font-size: 20px;
    padding-top: 20px;
  }
}


.custom-theme-div {
  &.light {
    background: #fff;
    color: #000;
  }

  &.dark {
    background: #000;
    color: #fff;
    button, a {
      color: #fff !important;
    }
  }

}


.swatch {
  box-shadow: inset 0 0 0 1px oklch(50% 0 0 / 20%);
}


.grid-100-cols {
  display: grid;
  grid-template-columns: repeat(100, 1fr);

  > div {
    height: 40px;
  }
}

.grid-360-cols {
  display: grid;
  grid-template-columns: repeat(360, 1fr);

  > div {
    height: 40px;
  }
}

.rows {
  display: grid;
  grid-template-columns: repeat(360, 1fr);
  > div {
    height: 10px;
  }
}

.resulting-color-div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0098db;
}

mat-slider {
  width: calc(100%);
  margin: 0;
}

.slider-tweak {
  background-color: transparent;
  position: relative;

  mat-slider {
    position: absolute;
    top: -44px;
    left: 0;
  }
}
