<div
  [ngClass]="{
    'dark': !light,
    'light': light
  }"
  class="custom-theme-div">

  <div class="header">

    <div class="logo">
      <guiexpert-logo *ngIf="!light" [mode]="'monocolor-white'" [size]="30"></guiexpert-logo>
      <guiexpert-logo *ngIf="light" [mode]="'monocolor-black'" [size]="30"></guiexpert-logo>
    </div>

    <div class="title">
      Custom Theme Generator
    </div>

    <div>
      <button *ngIf="light" mat-icon-button color="primary" (click)="setTheme('dark')">
        <mat-icon>dark_mode</mat-icon>
      </button>
      <button *ngIf="!light" mat-icon-button color="primary" (click)="setTheme('light')">
        <mat-icon>light_mode</mat-icon>
      </button>
    </div>
  </div>

  <div class="content">

    <div class="oklch-gray-picker">
      <div
        *ngFor="let p of percentages"
        (click)="setColor('oklch('+p+'% 0 256)')"
        [style]="'background-color: oklch('+p+'% 0 256)'">
      </div>
    </div>

    <div class="oklch-picker">
      <div *ngFor="let a of arr" class="rows">
        <div
          *ngFor="let h of hueValues"
          (click)="setColor('oklch('+a[0]+' '+a[1]+' '+h+')')"
          [style]="'background-color: oklch('+a[0]+' '+a[1]+' '+h+')'">
        </div>
      </div>
    </div>

    <div>
      <mat-slider
        [displayWith]="formatLabel"
        discrete
        max="360"
        min="0"
        showTickMarks
        step="1">
        <input [(ngModel)]="value" matSliderThumb>
      </mat-slider>
    </div>

    <div class="oklch-gray-picker">
      <div
        (click)="setColor('oklch('+p+'% .2 '+value+')')"
        *ngFor="let p of percentages"
        [attr.data-p]="p"
        [style]="'background-color: oklch('+p+'% .2 '+value+')'">
      </div>
    </div>

    <div class="palette">
      <div
        *ngFor="let sw of swatches"
        [style.background]="sw"
        (click)="setColor(sw)"
        class="swatch"></div>
    </div>


    <input
      type="color"
      class="palette-width"
      id="favcolor"
      name="favcolor"
      [value]="'#ffffff'"
      (change)="colorPickerChanged($event)"
    >

    <h2 [innerText]="getSelectedColor()"></h2>
    <div class="resulting-color-div" [style.background]="selectedColor"></div>

    <a [attr.href]="oklchUrl" target="_blank" [innerText]="oklchUrl"></a>

  </div>
</div>
