:host {
  height: 100vh;

  > div {
    height: 100vh;
  }
}



div.header {
  height: 60px;
  display: grid;
  grid-template-columns: 60px 1fr 60px;

  .logo {
    padding-left: 16px;
    padding-top: 14px;
  }
  .title {
    font-size: 20px;
    padding-top: 20px;
  }
}

:host {
  --hue: 320;
}



.custom-theme-div {
  &.light {
    background: #fff;
    color: #000;
  }

  &.dark {
    background: #000;
    color: #fff;
  }

}

small {
  color: var(--text-2);
}

.swatch {
  box-shadow: inset 0 0 0 1px oklch(50% 0 0 / 20%);
}



.palette {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  > div {
    height: 60px;
  }
}
.palette-width{
  width: 60px;
}
#favcolor{
  height: 60px;
}


mat-slider {
  width: 100%;
}


.oklch-gray-picker {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  > div {
    height: 40px;
  }
}

.rows {
  display: grid;
  grid-template-columns: repeat(360, 1fr);
  > div {
    height: 10px;
  }
}

.resulting-color-div{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #0098db;
}
