<div
  [ngClass]="{
    'dark': !light,
    'light': light
  }"
  class="custom-theme-div">

  <div class="header">

    <div class="logo">
      <guiexpert-logo *ngIf="!light" [mode]="'monocolor-white'" [size]="30"></guiexpert-logo>
      <guiexpert-logo *ngIf="light" [mode]="'monocolor-black'" [size]="30"></guiexpert-logo>
    </div>

    <div class="title">
      Custom Theme Generator
    </div>

    <div>
      <button *ngIf="light" mat-icon-button color="primary" (click)="setTheme('dark')">
        <mat-icon>dark_mode</mat-icon>
      </button>
      <button *ngIf="!light" mat-icon-button color="primary" (click)="setTheme('light')">
        <mat-icon>light_mode</mat-icon>
      </button>
    </div>
  </div>

  <div class="content">

    <div>

      <div class="example-label-container">
        <label class="example-name-label" id="example-name-label">H: </label>
        <label class="example-value-label">{{value}}</label>
      </div>
      <mat-slider
        [displayWith]="formatLabel"
        discrete
        max="360"
        min="0"
        showTickMarks
        step="1">
        <input [(ngModel)]="value" matSliderThumb>
      </mat-slider>
    </div>

    <div class="palette">
      <div class="swatch"></div>
      <div class="swatch"></div>
      <div class="swatch"></div>
      <div class="swatch"></div>
      <div class="swatch"></div>
      <div class="swatch"></div>
      <div class="swatch"></div>
      <div class="swatch"></div>
      <div class="swatch"></div>
      <div class="swatch"></div>
    </div>

  </div>
</div>
