@import "scss/prism";
@import "scss/ge-responsive";
@import "scss/table-colors";

/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('assets/fonts/roboto-v30-latin-300.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('assets/fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('assets/fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* material-icons-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons-v140-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('assets/fonts/material-icons-v140-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* material-icons-outlined-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons-outlined-v109-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
  url('assets/fonts/material-icons-outlined-v109-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

:root {
  --ge-primary: #0098db;
  --ge-secondary: #72ea53;
  --ge-tertiary: #ea53cc;
  --ge-main-background: rgb(2, 0, 36);
  --ge-main-color: #fff;
}

.ge-main-background {
  color: var(--ge-main-background);
}

.ge-main-color {
  color: var(--ge-main-color);
}

.ge-main-bg {
  background-color: var(--ge-main-color);
}

.ge-primary-color {
  color: var(--ge-primary);
}

.ge-primary-bg {
  background-color: var(--ge-primary);
}

.ge-secondary-color {
  color: var(--ge-secondary);
}

.ge-secondary-bg {
  background-color: var(--ge-secondary);
}

.ge-tertiary-color {
  color: var(ge-tertiary);
}

.ge-tertiary-bg {
  background-color: var(ge-tertiary);
}

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

section {
  scroll-snap-align: start;

  &.min-height-100vh {
    min-height: 100vh;
  }

  &.min-height {
    min-height: calc(100vh - 64px);
  }

  &.padding-top {
    padding-top: 64px;
  }
}


section.dark {
  min-height: calc(100vh - 64px);

  background: rgb(36,39,45);
  color: #fff;

  .mdc-checkbox,
  label {
    color: #fff;
  }

  .light {
    background: #fff;
    color: rgb(2, 0, 36);
  }

  &.radial-circle {
    //background: rgba(49, 58, 114, 1.0);
    //background: radial-gradient(at center, rgba(49, 58, 114, 1.0), rgba(2, 1, 32, 1.0));
    //background: url(https://astro.build/assets/noise.webp) repeat, linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    //background-blend-mode: overlay;
    //-webkit-mask-image: radial-gradient(rgba(0, 0, 0, .5), transparent 70%);
    //mask-image: radial-gradient(rgba(0, 0, 0, .5), transparent 70%);
    //z-index: -1;
    //> * {
    //  -webkit-mask-image: none;
    //  mask-image: none;
    //}

    position: relative;
    isolation: isolate;

    &::after {
      content: '';
      background: rgb(36,39,45);
      // background: radial-gradient(at center, rgba(49, 58, 114, 1.0), rgba(2, 1, 32, 1.0));
      //background: url(https://astro.build/assets/noise.webp) repeat, linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
      //background-blend-mode: overlay;
      //-webkit-mask-image: radial-gradient(rgba(0, 0, 0, .5), transparent 70%);
      //mask-image: radial-gradient(rgba(0, 0, 0, .5), transparent 70%);
      z-index: -1;
      position: absolute;
      inset: 0;
      //transform: skewY(-5deg);
    }
  }

  a {
    color: #0098db;
    text-decoration: none;
  }
}

// ---------------------------------------------------
.hero-scroll-down {
  position: relative;
  left: 50%;
  top: -80px;
  overflow: visible;
  width: 0;
  height: 0;

  .mat-icon {
    font-size: 40px;
    color: var(--ge-secondary);
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

@media (max-height: 660px) {
  .hero-scroll-down {
    display: none;
  }
}

.shake-vertical {
  -webkit-animation: shake-vertical 2.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
  animation: shake-vertical 2.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

// -------------------------------------

.ge-padding {
  padding: 16px;
}

.ge-table-header-bg {
  background-color: #f4f4f4;
}

.multi-line-text-cell .ge-table-label-div .ge-table-label {
  line-height: 1.2;
  padding-top: 9px;
}

:root {
  --ge-table-doc-primary-color: #00ee4d;
  --ge-table-doc-api-color: #EFF0F1;
  --ge-table-doc-doc-color: #0035ee;
  --ge-table-doc-demo-color: #f9ed06;
  --ge-table-doc-custom-color: #000;
  /*TODO red, yellow,...*/
  --ge-table-doc-dark-color: #000;
  --ge-table-doc-light-color: #fff;
  --ge-table-doc-gray-color: #aaa;
}

:root {
  --mdc-theme-primary: var(--ge-tertiary);
}

guiexpert-table-doc-root {
  .mat-toolbar.mat-primary,
  .ge-header,
  .ge-header-bg {
    background: transparent;
    color: #fff;
    backdrop-filter: blur(23px);
  }


  &.api {
    .mat-toolbar.mat-primary,
    .ge-header {
      background: var(--ge-table-doc-api-color);
      color: var(--ge-table-doc-dark-color);
    }
  }

  &.doc {
    .mat-toolbar.mat-primary,
    .ge-header {
      background: var(--ge-table-doc-doc-color);
      color: var(--ge-table-doc-light-color);
    }
  }

  &.demo {
    .mat-toolbar.mat-primary,
    .ge-header {
      background: var(--ge-table-doc-demo-color);
      color: var(--ge-table-doc-dark-color);
    }

    .doc-content a:-webkit-any-link {
      color: #0098db !important;
      text-decoration: none;
    }
  }

  &.custom {
    .mat-toolbar.mat-primary,
    .ge-header {
      background: var(--ge-table-doc-custom-color);
      color: var(--ge-table-doc-light-color);
    }

    .doc-content a:-webkit-any-link {
      color: #0098db !important;
      text-decoration: none;
    }
  }
}


guiexpert-table-doc-root .mat-drawer-container {
  background: var(--ge-table-doc-light-color);
  color: var(--ge-table-doc-dark-color);
}


guiexpert-table-doc-root .mat-drawer {
  background: var(--ge-table-doc-light-color);
  color: var(--ge-table-doc-dark-color);
}

guiexpert-table-doc-root .ge-footer {
  background: var(--ge-table-doc-dark-color);
  color: var(--ge-table-doc-light-color);
}

.text-muted {
  color: var(--ge-table-doc-gray-color);
}

.logo-fill-color-0 {
  fill: #000;
}

.logo-fill-color-1 {
  fill: #fff;
}


/* align Icons and Text in list items: */
.mat-mdc-list-item > span,
.mat-mdc-list-item > span > span {
  overflow-y: visible;
}

.mat-mdc-list-item .material-icons {
  vertical-align: middle;
  line-height: 20px;
}

.mat-mdc-unelevated-button.mat-primary {
  --mdc-filled-button-container-color: rgba(249, 58, 6, 0.1) !important;
  --mdc-filled-button-label-text-color: #000 !important;
}

.mat-mdc-outlined-button:not(:disabled) {
  --mdc-outlined-button-label-text-color: #F93A06 !important;
}

.mat-mdc-unelevated-button,
.mat-button, .mat-icon-button, .mat-stroked-button, .mat-raised-button, .mat-flat-button {
  border-radius: 17px !important;
}

.ge-text-align-right,
.ge-text-align-right > .ge-table-label-div,
.ge-text-align-right > .ge-table-label-div > ge-table-label {
  text-align: right;
}

.ge-font-weight-bold,
.ge-font-weight-bold > .ge-table-label-div,
.ge-font-weight-bold > .ge-table-label-div > ge-table-label {
  font-weight: bold;
}


.doc-content > * + *,
.doc-content > * + * + * {
  min-height: calc(100vh - 125px) !important;
  width: 100%;
  display: block;
  overflow: clip;
}

.ge-positive-text-color {
  color: #16c784;
}

.ge-negative-text-color {
  color: #ea3943;
}

p, ul, ol, li, a, input, body, .mdc-button {
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

.mat-mdc-card {
  background-color: #fafafa !important;
}

//.stripes-green .mat-mdc-card,
//.stripes-green {
//  background: repeating-linear-gradient(
//      -30deg,
//      #fafafa,
//      #fafafa 20px,
//      #e5ffe5 20px,
//      #e5ffe5 40px
//  ) !important;
//}

.mat-thumb-only {
  .mdc-slider__track {
    display: none !important;
  }

  .mat-mdc-slider .mdc-slider__thumb--focused .mdc-slider__thumb-knob,
  .mat-mdc-slider .mdc-slider__thumb-knob {
    background-color: yellow;
    border: solid 1px #000000;
  }
}

.mat-mdc-form-field-bottom-align {
  display: none;
}

.dark {
  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,
  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-floating-label {
    color: #fff;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: #2b2e33;
  }

  .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom-color: #00ee4d;
  }
}


.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-checkmark-color: #000;
  --mdc-checkbox-selected-focus-icon-color: #00ee4d !important;
  --mdc-checkbox-selected-hover-icon-color: #00ee4d !important;
  --mdc-checkbox-selected-icon-color: #00ee4d !important;
  --mdc-checkbox-selected-pressed-icon-color: #00ee4d !important;
  --mdc-checkbox-unselected-focus-icon-color: #212121;
  --mdc-checkbox-unselected-hover-icon-color: #212121;
  --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, 0.38);
  --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54)
}

.mat-mdc-fab {
  background-color: #fff !important;
}

.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-moz-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-ms-keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

//mat-card-header.green-stripes {
//  background-image: linear-gradient(135deg, #fafafa 25%, #deffe4 25%, #deffe4 50%, #fafafa 50%, #fafafa 75%, #deffe4 75%, #deffe4 100%);
//  background-size: 14px 14px;
//}
