
:root {
  --ge-header-height: 64px;
  --ge-sidenav-width: 220px;
}

html {
  --ge-primary: rgb(172, 126, 244);
  --ge-text-on-primar: #fff;
  --ge-secondary: #0098db;
  --ge-text-on-secondary: #fff;
  //--ge-tertiary: #ea53cc;
  --ge-main-background: #fff;
  --ge-decent-background: #f5f5f5;
  --ge-main-color: #000;

  --ge-header-border-bottom: #eee;
  --ge-animated-shadow-color: #08f8
}
html[data-theme="dark"] {
  --ge-primary: rgb(172, 126, 244);
  --ge-text-on-primar: #fff;
  --ge-secondary: #0098db;
  --ge-text-on-secondary: #fff;
  //--ge-tertiary: #ea53cc;
  --ge-main-background: rgba(49, 58, 114, 1.0);
  --ge-decent-background: hsl(232, 40%, 40%);
  --ge-header-border-bottom: transparent;
  --ge-main-color: #fff;
}
