
<section class="big">
  <div class="scene">
    <div class="cube">
      <div class="side back"></div>
      <div class="side left"></div>
      <div class="side front"></div>
      <div class="side right"></div>
    </div>
  </div>
</section>



<section appWelcomeDemo class="ge-table-header-bg min-height-100vh padding-top">
</section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>



<section appGetStarted class="padding-top center-all ge-main-background"></section>
<div class="hero-scroll-down">
  <mat-icon class="shake-vertical" (click)="scrollDown()">expand_more</mat-icon>
</div>


<section class="ge-padding padding-top center-all ge-main-background">
  <div class="features">
    <div class="feature-box">
      <div class="left text-div">
        <h2>License</h2>
        <ul>
          <li>Open source</li>
          <li>Free for individuals and non-commercial users</li>
          <li>For our valued business customers, we offer highly attractive licensing terms.</li>
        </ul>

        <div class="law-div">
          <mat-nav-list>
            <a href="#" routerLink="/license" mat-list-item>
              <mat-icon>gavel</mat-icon>
              <span class="ge-secondary-color">License</span>
            </a>

            <mat-divider></mat-divider>

            <a href="#" routerLink="/law/imprint" mat-list-item>
              <mat-icon>import_contacts</mat-icon>
              <span class="ge-secondary-color">Imprint</span>
            </a>

            <a href="#" routerLink="/law/cou" mat-list-item>
              <mat-icon>gavel</mat-icon>
              <span class="ge-secondary-color">Conditions of Use</span>
            </a>

            <a href="#" routerLink="/law/privacy" mat-list-item>
              <mat-icon>sentiment_satisfied_alt</mat-icon>
              <span class="ge-secondary-color">Privacy Notice</span>
            </a>
          </mat-nav-list>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="hero-scroll-down">
  <mat-icon (click)="scroll2Top()">expand_less</mat-icon>
</div>

